/* Positioning */
html{height:100%; }
body{height:100%;  margin:0; padding:0;}

.wui_position_hbox{display:-webkit-box;-webkit-box-orient:horizontal;}
.wui_position_vbox{display:-webkit-box;-webkit-box-orient:vertical;}
.wui_position_flex{-webkit-box-flex:1;}

.wui_position_fullscreen{height:100%;}

/* Style */
body{font-family: Arial,"MS Trebuchet",sans-serif;}

/* Event stuff */
 * { -webkit-touch-callout: none; /*-webkit-user-select: none;*/}