/* Positioning */
html {
    height:100%;
}
body {
    height:100%;
    margin:0;
    padding:0;
}
.wui_position_hbox {
    display:-webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -ms-box-orient:horizontal;
    -o-box-orient:horizontal;
    box-orient:horizontal;
}
.wui_position_vbox {
    display:-webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient:vertical;
     -moz-box-orient:vertical;
    -ms-box-orient:vertical;
    -o-box-orient:vertical;
    box-orient:vertical;
}
.wui_position_flex {
    -webkit-box-flex:1;
     -moz-box-flex:1;
      -ms-box-flex:1;
       -o-box-flex:1;
       box-flex:1;
       
}
.wui_position_fullscreen {
    height:100%;
}
/* Style */
body {
    font-family: Arial,"MS Trebuchet",sans-serif;
}
/* Event stuff */
* {
    -webkit-touch-callout: none;
     -moz-touch-callout: none;
     -o-touch-callout: none;
     -ms-touch-callout: none;
      touch-callout: none;
    /*-webkit-user-select: none;*/
}