.wui_controls_buttons_back {
    font-weight:bold;
    text-align:center;
    line-height:28px;
    color:white;
    text-shadow:rgba(0,0,0,0.6) 0px -1px 0px;
    font-size:15px;
    max-width:60px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    border-width:0 8px 0 14px;
    -webkit-border-image:url(img/backButton.png) 0 8 0 14;
    -moz-border-image:url(img/backButton.png) 0 8 0 14;
    -o-border-image:url(img/backButton.png) 0 8 0 14;
    -ms-border-image:url(img/backButton.png) 0 8 0 14;
    border-image:url(img/backButton.png) 0 8 0 14;
    -webkit-tap-highlight-color:rgba(100,100,100,0);
    -moz-tap-highlight-color:rgba(100,100,100,0);
    -ms-tap-highlight-color:rgba(100,100,100,0);
     -o-tap-highlight-color:rgba(100,100,100,0);
     tap-highlight-color:rgba(100,100,100,0);
}
