ul.wui_controls_lists_rounded {list-style: none;
    margin: 5px;
    padding: 5px;
}

.wui_controls_lists_rounded li:first-child{
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

.wui_controls_lists_rounded li:last-child{
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}


/* A rounded menu */
/*
ul.roundedMenu {
    

ul.roundedMenu .arrowLeft{
    margin: 5px;
}

li{
  background-color: #FFFFFF;
   line-height: 28px;
    border-top: 1px solid #D0D0D0;
    color: #222222;
    display: block;
    margin-left:5px;
    margin-bottom: -1px;
    padding: 9px 12px ;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0px 1px 0px #fff;
    -webkit-tap-highlight-color: #333;
}

.roundedMenu li:first-child{
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

.roundedMenu li:last-child{
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}


.roundedMenu li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
 }
 
.leftArrow{
  background: url(../img/all.png) -48px -50px no-repeat;
  width: 27px;
  height: 30px;
}*/