/* Positioning */
.wui_control_menuBar{}
/* Style */
.wui_control_menuBar{background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#333),to(#000000),color-stop(.5,#222),color-stop(.5,#161616)); border-top:1px solid #333;text-align:center;}

