.wui_controls_buttons_greenLamp {
    background-image:-webkit-gradient(radial,7 2,0,7 2,3,from(rgba(255,255,255,0.85)), to(rgba(255,255,255,0))), -webkit-gradient(radial,7 12,0,7 7,14, from(#c7f08b), to(#006013));
}
.wui_controls_buttons_greyLamp {
    width:23px;
    height:23px;
    text-indent:-9999em;
    border-radius:13px;
    box-shadow:0 1px 0 #FFF;
    border:1px solid #7d7d7d;
}
.wui_controls_buttons_greyLamp {
    background-image:-webkit-gradient(radial,7 2,0,7 2,3, from(rgba(255,255,255,0.85)), to(rgba(255,255,255,0))), -webkit-gradient(radial,7 12,0,7 7,14, from(#D0D0D0), to(#808080));
}
.wui_controls_buttons_orangeLamp {
    background-image:-webkit-gradient(radial,7 2,0,7 2,3, from(rgba(255,255,255,0.85)), to(rgba(255,255,255,0))),-webkit-gradient(radial,7 12,0,7 7,14,from(#FFf08b),to(#FF0000));
}

.wui_controls_buttons_red {
    background:-webkit-gradient(linear,left bottom,left top,color-stop(0.22,#ba0000),color-stop(0.61,#ff6161),color-stop(0.44,#bf0202));
}

.wui_controls_buttons_redLamp {
    background-image:-webkit-gradient(radial,7 2,0,7 2,3,from(rgba(255,255,255,0.85)),to(rgba(255,255,255,0))),-webkit-gradient(radial,7 12,0,7 7,14,from(#F00000),to(#680000));
}
.wui_controls_button{
    color: $color-buttons-text;
    height: 22px;
    overflow:hidden;
    text-overflow:ellipsis;
}
.wui_symbol {
    
    font: $font-title;
    font-size: 18px;
    padding-right: 10px;
}