/*
$color-primary: #FFAA00;
$color-highlight: #CC8800; 
$color-light: #FFC34C;
$color-dark: #7F5500;
$color-extra: #CC8800;
$color-black: #000000;
*/

/*
$color-primary: #e94883;
$color-highlight: #1170BB;
$color-light: #FFF;
$color-dark: #000;
$color-extra: #8EBBFF;
$color-inactive: #BBB;
*/


$color-primary: #e94883;
$color-highlight: #FFF;
$color-light: #FFF;
$color-dark: #000;
$color-extra: #8EBBFF;
$color-inactive: #BBB;

$color-buttons-text: $color-light;
$color-descriptive-text:  $color-extra;
$color-main-text: $color-dark;