.wui_control_menuBar {
	background: $color-primary; 
	border-top: 1px solid #666;
	text-align: center;
	height:$height-bars + 7;
}

.wui_control_menuItem {
	display: block;
	height: 1.2em;
	width: 1px;
	padding: 16px 0 .4em 0;
	margin: .3em;
	font-size: .8em;
	color: #808184;
	text-decoration: none;
}

.wui_control_menuItem a{
	font-size: .6em;
	line-height:1;
	color: $color-inactive;
}

.wui_control_menuItem_icon {

	margin-top: -16px;
	text-align: center;
	color:$color-inactive;
	font-family: 'Metrize-Icons';
	font-size: 30px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.wui_control_menuItem_active > *{
	color: $color-highlight !important; 
}