
.wui_controls_titleBar {
    height:$height-bars;
    width:100%;
    background-color: $color-primary;
    border-bottom:1px solid #666;
}
.wui_controls_titleBar_leftContainer, .wui_controls_titleBar_rightContainer {
    padding:10px;
    min-width:75px;
    max-width:110px;
}
.wui_controls_titleBar_rightContainer>:first-child {
    text-align: right;
}
.wui_controls_titleBar_title {
    width:100%;
    margin:0 auto;
    padding:10px 0;
    color: $color-buttons-text;
    text-align:center;
    font:$font-title;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

